<% content_for(:title) do %>
  Le Wagon - <%= @post.metadata[:title] %>
<% end %>

<% author = AUTHORS[@post.metadata[:author].to_sym] %>

<div class="vertical-spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1><%= @post.metadata[:title] %></h1>

      <% if author %>
        <p>
          <%= author[:name] %> -
          <a href="https://twitter.com/<%= author[:twitter] %>">@<%= author[:twitter] %></a>
        </p>
      <% end %>
      <article class="blog-post">
        <%= @post.content %>
      </article>
    </div>
    <div class="col-md-4">
      <%= erb :blog_aside %>
    </div>
  </div>
</div>